<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/menu-2.css">
    <link rel="stylesheet" href="../../fonts/remixicon.css">
    <title>Menu-2</title>
</head>
<body>

    <header>
        <div class="leftSide">
            <div class="menuButton">
                <i class="ri-menu-2-line"></i>
            </div>

            <span>LOGO</span>
        </div>

        <div class="rightSide">
            <i class="ri-code-fill"></i>
            <i class="ri-book-line"></i>
            <i class="ri-download-2-line"></i>
        </div>
    </header>

    <div class="navLinks">
        <a href="#">
            <i class="ri-home-5-line"></i>
            Home
        </a>
        <a href="#">
            <i class="ri-notification-2-line"></i>
            Notifications
        </a>
        <a href="#">
            <i class="ri-book-line"></i>
            Docs
        </a>
        <a href="#">
            <i class="ri-logout-box-line"></i>
            Logout
        </a>
    </div>
    
    <script src="menu-2.js"></script>
</body>
</html>