@import "import/mixins-variables";
@import "import/normalize";

* {
    box-sizing: border-box;

    &:not(.accordion) {
        box-sizing: content-box;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
    font-family: $primaryFont;
    background-color: $backgroundColor;

    @include responsive(mobile) {
        padding: 16px;
    }
}

.accordionContainer {

    .accordion {
        border: solid 1px lighten($backgroundColor, 5%);
        width: 500px;
        margin-bottom: 16px;
        overflow: hidden;

        @include responsive(mobile) {
            width: 100%;
        }

        .accordionHeader {
            display: flex;
            justify-content: space-between;
            padding: 16px;
            color: white;
            background-color: darken($backgroundColor, 5%);
            cursor: pointer;
            @include font($primaryFont, 20px, bold);

            @include responsive(mobile) {
                font-size: 16px;
            }

            i {
                font-size: 20px;
                transition: all 0.2s ease;
            }
        }

        .accordionContent {
            display: none;
            color: white;
            padding: 16px;
            transition: all 0.2s ease;

            &.active {
                display: block;
            }

            @include responsive(mobile) {
                font-size: 14px;
            }
        }
    }
}