@import "import/mixins-variables";
@import "import/normalize";

body {
    display: flex;
    justify-content: center;
    padding: 28px;
    background-color: #0E1217;
    font-family: $primaryFont;

    @include responsive(mobile) {
        padding: 16px;
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    align-items: start;
    width: 100%;

    @include responsive(mobile) {
        display: block;
    }

    &__componentBox {
        span {
            display: block;
            color: white;
            @include font($primaryFont, 24px, bold);
        }

        a {
            display: block;
            color: $primaryColor;
            text-decoration: none;
            margin-top: 12px;
            padding-left: 8px;
            @include font($primaryFont, 16px, normal);

            &:hover {
                text-decoration: underline;
            }
        }

        @include responsive(mobile) {
            margin-bottom: 28px;
        }
    }
}